@media only screen and (min-width: 579px) {
  header {
    width: 100%;
    height: auto;
    padding: 1% 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .logo {
    z-index: 3;
    width: auto;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 380px;
    z-index: 2;
  }
  header ul li {
    text-align: center;
    padding: 3%;
    list-style: none;
  }
  header ul li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 80%;
  }
  header ul li a:hover {
    color: #fa5757;
  }
  header ul .social-media {
    display: none;
  }
  header button {
    padding: 10px 20px;
    width: auto;
    background: #fa5757;
    border-radius: 9px;
    color: white;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-size: .7rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
  }
  header button:hover {
    border: #fa5757 2px solid;
    color: #fa5757;
    background: none;
  }
  header .menu {
    display: none;
  }
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    width: 90%;
    margin: 20px auto;
  }
  main img {
    width: 100%;
    height: auto;
  }
  main .first {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .first div[blue] {
    margin-top: 65px;
    background: #5368df;
    border-radius: 0px 0px 0px 30%;
    max-width: 50%;
    height: 180px;
    margin-left: auto;
  }
  main .first div[blue] img {
    position: relative;
    top: -70px;
    right: 20%;
    max-width: 400px;
    height: auto;
  }
  main .first [b] {
    width: 70%;
  }
  main .first [b] h1 {
    font-size: 1.6rem;
    text-align: align;
    padding: 30px 5% 20px;
  }
  main .first [b] p {
    text-align: left;
    width: 400px;
    max-width: 70%;
    margin: 0px 5% 20px;
  }
  main .first [b] div[butt] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 2%;
    margin-bottom: 60px;
  }
  main .first [b] div[butt] button {
    padding: 10px 15px;
    border-radius: 7px;
    margin: 10px 10px;
    cursor: pointer;
    border: none;
    background: #5368df;
    color: white;
    font-size: .8rem;
  }
  main .first [b] div[butt] button:hover {
    border: #fa5757 2px solid;
    color: #fa5757;
    background: none;
  }
  main .second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .second h3 {
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 60px 0px 15px;
  }
  main .second p {
    max-width: 70%;
    margin: 0 auto;
  }
  main .second ul {
    margin: 30px 0px 70px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  main .second ul hr {
    background: #5368df;
    opacity: .4;
  }
  main .second ul li {
    list-style: none;
    margin: 20px 30px;
  }
  main .second ul li a {
    text-decoration: none;
    color: #9194a1;
    font-size: .9rem;
    font-weight: bold;
  }
  main .second ul li a:visited, main .second ul li a:hover, main .second ul li a:active {
    padding: 7px 0px;
    border-bottom: 3px #fa5757 solid;
  }
  main .three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 480px;
  }
  main .three .tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    width: 90%;
    text-align: center;
    position: absolute;
    visibility: visible;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transition: visibility 3s .2s;
    transition: visibility 3s .2s;
  }
  main .three .tab.open {
    visibility: hidden;
  }
  main .three .tab div[tab] {
    min-height: 200px;
    max-width: 66%;
    background: #5368df;
    margin-top: 40px;
    border-radius: 0px 0px 30% 0px;
  }
  main .three .tab div[tab] img {
    position: relative;
    top: -40px;
    left: 30px;
    z-index: 4;
    width: 90%;
  }
  main .three .tab div[tabtext] {
    margin-bottom: 40px;
    margin: 15px 20px 40px;
    margin-top: 15px;
    width: 60%;
    max-width: 600px;
    z-index: 10;
    text-align: left;
  }
  main .three .tab div[tabtext] h3 {
    font-size: 1.2rem;
    margin: 20px 0px;
  }
  main .three .tab div[tabtext] button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 15px;
    border-radius: 7px;
    margin: 20px 0px 0;
    cursor: pointer;
    border: none;
    background: #5368df;
    color: white;
    font-size: .8rem;
  }
  main .three .tab div[tabtext] button:hover {
    border: #fa5757 2px solid;
    color: #fa5757;
    background: none;
  }
  main .three .tab.tab2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    background: white;
    z-index: 10;
    -webkit-transition: visibility 3s .2s;
    transition: visibility 3s .2s;
  }
  main .three .tab.tab2.open {
    visibility: visible;
  }
  main .three .tab.tab2 div[tab] {
    max-width: 66%;
  }
  main .three .tab.tab2 div[tab] img {
    position: relative;
    top: -40px;
    left: 10%;
    width: 80%;
    height: auto;
  }
  main .three .tab.tab3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    z-index: 11;
    -webkit-transition: visibility 5s .2s;
    transition: visibility 5s .2s;
  }
  main .three .tab.tab3.open {
    visibility: visible;
  }
  main .three .tab.tab3 div[tab] {
    max-width: 66%;
  }
  main .three .tab.tab3 div[tab] img {
    position: relative;
    top: -40px;
    left: 10%;
    z-index: 4;
    width: 80%;
    height: auto;
  }
  main .fourth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  main .fourth div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .fourth [c] {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
  main .fourth [f] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 350px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main .fourth [f] .chrome {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  main .fourth [f] .opera {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  main .fourth p[i] {
    width: 70%;
    margin: 15px auto;
    text-align: center;
  }
  main .fourth figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .fourth figure img {
    width: 40%;
    height: auto;
    margin: 30px auto 20px;
  }
  main .fourth figure .bold {
    font-weight: 700;
  }
  main .fourth figure button {
    margin: 40px auto 20px;
    font-size: .8rem;
    padding: 10px 20px;
    border: none;
    color: white;
    background: #5368df;
    border-radius: 6px;
    width: auto;
  }
  main .fourth figure button:hover {
    border: #fa5757 2px solid;
    color: #fa5757;
    background: none;
  }
  main .fifth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .fifth div[one] {
    text-align: center;
    margin-bottom: 80px;
  }
  main .fifth div[one] h3 {
    margin: 20px auto;
  }
  main .fifth div[one] p {
    width: 70%;
    margin: 0px auto;
  }
  main .fifth div[two] {
    margin-bottom: 30px;
  }
  main .fifth div[two] .question {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .fifth div[two] .question img {
    width: 20px;
    cursor: pointer;
  }
  main .fifth div[two] .question img.open {
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
    -webkit-filter: invert(0.5) sepia(1) saturate(100) hue-rotate(0deg);
            filter: invert(0.5) sepia(1) saturate(100) hue-rotate(0deg);
  }
  main .fifth div[two] .answer {
    display: none;
  }
  main .fifth div[two] .answer.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .fifth button {
    width: auto;
    margin: 60px auto;
    padding: 10px 20px;
    background: #5368df;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  main .fifth button:hover {
    border: 3px #fa5757 solid;
    background: none;
    color: #fa5757;
  }
  footer {
    background: #5368df;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer div[f] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 90%;
    margin-top: 60px;
    margin-bottom: 30px;
    color: white;
  }
  footer div[f] span[d] {
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 4px;
  }
  footer div[f] span[l] {
    font-weight: bolder;
    font-size: 1.4rem;
    width: 85%;
    margin: 10px auto;
  }
  footer div[f] form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin: 0px auto 20px;
  }
  footer div[f] form input {
    margin: 20px 0px;
    height: 50px;
    border-radius: 5px;
    border: none;
  }
  footer div[f] form input[placeholder] {
    padding-left: 20px;
  }
  footer div[f] form button {
    height: 50px;
    border-radius: 5px;
    padding: 0 20px;
    border: none;
    font-weight: bold;
    font-size: .9rem;
    color: white;
    background: #fa5757;
    margin-left: 40px;
    cursor: pointer;
  }
  footer div[f] form button:hover {
    background: white;
    border: 3px solid #fa5757;
    color: #fa5757;
  }
  footer .last {
    background: #252b46;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
    padding: 5%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .last img[z] {
    -webkit-filter: invert(1) hue-rotate(170deg) brightness(100%);
            filter: invert(1) hue-rotate(170deg) brightness(100%);
  }
  footer .last ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 20px;
  }
  footer .last ul li {
    list-style: none;
    margin: 30px 10px;
    text-align: center;
  }
  footer .last ul li a {
    text-decoration: none;
    color: #e4f1fd;
    cursor: pointer;
    text-transform: uppercase;
  }
  footer .last ul li a:visited, footer .last ul li a:hover, footer .last ul li a:active {
    color: #fa5757;
  }
  footer .last .social-media {
    position: absolute;
    right: 5%;
  }
  footer .last .social-media img {
    margin: 0px 10px;
    cursor: pointer;
  }
  .attribution {
    font-size: .7rem;
    text-align: center;
    background: #252b46;
    padding-bottom: 20px;
    font-weight: lighter;
  }
  .attribution a {
    color: #5368df;
    font-size: .7rem;
  }
  .attribution a:visited, .attribution a:hover, .attribution a:active {
    color: #fa5757;
  }
}
/*# sourceMappingURL=index.css.map */