$SoftBlue: hsl(231, 69%, 60%);
$SoftRed: hsl(0, 94%, 66%);
$GrayishBlue: hsl(229, 8%, 60%);
$VeryDarkBlue: hsl(229, 31%, 21%);


// h3{
//     font-size:1.2rem;
//     font-weight:bolder;
// }
// p{
//     font-size: 0.8rem;
//     line-height: 25px;
//     color:$GrayishBlue;
//     font-weight: bold;
// }
// @font-face{
//     font-family: rubik;
//     src: url(./font/Rubik-Regular.ttf);
// }

@media only screen and (min-width:579px){
    header{
        width: 100%;
        height:auto;
        // background: yellow;
        padding: 1% 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            z-index:3;
            width:auto;
            // background: blue;
        }
        ul{
            display:flex;
            align-items: center;
            justify-content: center;
            // background: $VeryDarkBlue;
            width: 380px;
            z-index:2;
            
            li{
                text-align: center;
                padding:  3%;
                list-style: none;

                a{
                    text-decoration: none;
                    color: black;
                    font-weight:700;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-size:80%;
                    &:hover{
                        color:$SoftRed;
                    }
                    // opacity:1;
                }
            }
            .social-media{
                display:none; 
            }
        }
        
        button{
            padding: 10px 20px;
            width: auto;
            background: $SoftRed;
            // border: 2px solid white;
            border-radius: 9px;
            color:white;
            margin-left: 10px;
            text-transform: uppercase;
            letter-spacing: 1.4px;
            font-size:.7rem;
            font-weight:600;
            border:none;
            cursor: pointer;
            &:hover{
                border: $SoftRed 2px solid;
                color:$SoftRed;
                background:none;
            }
            
        }
        .menu{
            display:none;
          
        }

    }
    main{
        img{
            width:100%;
            height:auto;
        }
        display: grid;
        grid-template-columns: auto;
        width:90%;
        margin:20px auto;
        .first{
            position: relative;
            // background: blue;
            display: flex;
            flex-direction: row;

            div[blue]{
                margin-top: 65px;
                // background:black;
                background: $SoftBlue;
                border-radius: 0px 0px 0px 30%;
                max-width: 50%;
                height: 180px;
                margin-left: auto;
                img{
                    position:relative;
                    top: -70px;
                    right:20%;
                    // border:2px black solid;
                    max-width: 400px ;
                    height: auto;
                }
            }
            [b]{
                // background:brown;
                width:70%;
                h1{
                    font-size: 1.6rem;
                    text-align:align;
                    padding: 30px 5% 20px;
                }
                p{
                    text-align:left;
                    width: 400px;
                    max-width:70%;
                    margin:0px 5% 20px;
                }
                div[butt]{
                    display: flex;
                    // justify-content: flex-start;
                    margin-left:2%;
                    margin-bottom: 60px;
                    button{
                        padding: 10px 15px;
                        border-radius: 7px;
                        margin:10px 10px;
                        cursor:pointer;
                        border:none;
                        background: $SoftBlue;
                        color: white;
                        font-size: .8rem;
                        
                        &:hover{
                            border: $SoftRed 2px solid;
                            color:$SoftRed;
                            background:none;
                        }
    
                    }
                }
            }
           
          
        }
        .second{
            display:flex;
            flex-direction:column;
            align-items:center;
            text-align: center;
            h3{
                font-size:1.2rem;
                font-weight:bolder;
                margin: 60px 0px 15px;
            }
            p{
                max-width: 70%;
                margin:0 auto;
            }
            ul{
                margin: 30px 0px 70px;
                display:inline-flex;
                // width:300px;
                hr{
                    background:$SoftBlue;
                    opacity:.4;
                }
                li{
                    list-style: none;
                    margin:20px 30px;
                    
                    a{
                        text-decoration: none;
                        color:$GrayishBlue;
                        font-size:.9rem;
                        font-weight:bold;
                        
                    }
                    a:visited ,a:hover,a:active{
                        padding: 7px 0px;
                        border-bottom:3px $SoftRed solid;
                        
                    }
                }
            }
        }
        .three{
            display:flex;
            margin-bottom: 480px;
            .tab{
                display: flex;
                flex-direction: row;
                position: relative;
                width:90%;
                // background:blue;
                text-align: center;
                position: absolute;
                visibility: visible;
                justify-content: space-around;
                    transition: visibility 3s .2s;
                    &.open{
                        visibility: hidden;
                    }
                div[tab]{
                    
                    min-height:200px;
                    max-width:66%;
                    background: $SoftBlue;
                    margin-top:40px;
                    border-radius: 0px 0px 30% 0px;
                    img{
                        position:relative;
                        top:-40px;
                        left:30px;
                        z-index: 4;
                        width:90%;
                    }
                }
                div[tabtext]{
                    margin-bottom: 40px;
                    margin:15px 20px 40px;
                    margin-top: 15px;
                    width:60%;
                    max-width: 600px;
                    z-index:10;
                    text-align:left;
                    
                    h3{
                        font-size: 1.2rem;
                        margin:20px 0px ;
                        
                    }
                    button{
                        display:flex;
                        padding: 10px 15px;
                        border-radius: 7px;
                        margin:20px 0px 0;
                        cursor:pointer;
                        border:none;
                        background: $SoftBlue;
                        color: white;
                        font-size: .8rem;
                        &:hover{
                            border: $SoftRed 2px solid;
                            color:$SoftRed;
                            background:none;
                        }
                    }
                }
                &.tab2{
                    display:flex;
                    visibility: hidden;
                    background:white;
                    z-index: 10;
                    // border:2px solid red;
                    transition: visibility 3s .2s;
                    &.open{
                        visibility: visible;
                    }
                    div[tab]{
                        max-width:66%;
                    img{
                        position:relative;
                        top:-40px;
                        left:10%;
                        width:80%;
                        height:auto;
                        
                    }
                    }
                }
                &.tab3{
                    display: flex;
                    visibility: hidden;
                    // background:yellow;
                    z-index: 11;
                    transition: visibility 5s .2s;
                    &.open{
                        visibility: visible;
                    }
                    div[tab]{
                        max-width:66%;
                        img{
                            position:relative;
                            top:-40px;
                            left:10%;
                            z-index: 4;
                            width:80%;
                            height: auto;
                            // margin:10px 20px 0px 20px;
                        }
                    }
                }
            }
        }
        .fourth{
            display:flex;
            // grid-template-columns: auto;
            flex-direction:column;
            text-align: center;
            // background: black;
            
            div{
                display: flex;
                flex-direction:column;
                align-items: center;
                
                
            }
            [c]{
                grid-column: 1/5;
            }
            [f]{
                // background:brown;
                display: flex;
                height:350px;
                flex-direction: row;
                justify-content: space-around;
                // align-items:center;
                .chrome{
                  align-self:flex-start; 
                //   background:green; 
                }
                .opera{
                    // background:black; 
                    align-self:flex-end; 
                  }
            }
            p[i]{
                width:70%;
                margin:15px auto;
                text-align: center;
            }
            figure{
                display:flex;
                flex-direction: column;
                align-items: center;
                img{
                    width:40%;
                    height: auto;
                    margin:30px auto 20px;
                }
                .bold{
                    font-weight:700;
                }
                button{
                    margin: 40px auto 20px;
                    font-size: .8rem;
                    padding:10px 20px;
                    border:none;
                    color:white;
                    background:$SoftBlue;
                    border-radius:6px;
                    width:auto;
                    &:hover{
                        border: $SoftRed 2px solid;
                        color:$SoftRed;
                        background:none;
                    }
                }
                
                
            }

        }
        .fifth{
            // background: brown;
            display: flex;
            flex-direction: column;
            justify-content: center;
            div[one]{
                text-align:center;
                margin-bottom: 80px;
                h3{
                    margin:20px auto;
                }
                p{
                    width: 70%;
                    margin:0px auto;
                }
            }
            div[two]{
                margin-bottom: 30px;
                .question{
                    display:flex;
                    align-items: center;
                    width:100%;
                    justify-content:space-between;
                    
                    img{
                        width:20px;
                        cursor:pointer;
                        
                        
                        &.open{
                            transform: scaleY(-1);
                            filter: invert(0.5) sepia(1) saturate(100) hue-rotate(0deg);
                        }
                        
                        
                    }
                }
                .answer{
                    display:none;
                    &.open{
                        display:flex;
                    }
                }
                
            }
            button{
                width:auto;
                margin:60px auto;
                padding:10px 20px;
                background: $SoftBlue;
                color:white;
                border:none;
                border-radius:5px;
                cursor: pointer;
                &:hover{
                    border: 3px $SoftRed solid;
                    background:none;
                    color:$SoftRed;
                    
                }
            }
        }

    }
    footer{
        background:$SoftBlue;
        // padding:5%;
        display:flex;
        flex-direction:column;
        align-items: center;
        div[f]{
            display: flex;
            flex-direction:column;
            text-align:center;
            width:90%;
            margin-top:60px;
            margin-bottom: 30px;
            color:white;
            // padding-top:30px;
            span[d]{
                font-weight:bold;
                text-transform: uppercase;
                font-size:.8rem;
                letter-spacing: 4px;
            }
            span[l]{
                font-weight: bolder;
                font-size:1.4rem;
                width:85%;
                margin:10px auto;

            }
            form{
                display:flex;
                flex-direction: row;
                align-items:center;
                justify-content: center;
                width:80%;
                margin:0px auto 20px;
                input{
                    margin:20px 0px;
                    height:50px;
                    border-radius:5px;
                    border:none;
                    &[placeholder]{
                        padding-left:20px;
                        
                    }   
                }
                button{
                    height:50px;
                    border-radius:5px;
                    padding: 0 20px;
                    border:none;
                    font-weight:bold;
                    font-size:.9rem;
                    color:white;
                    background:$SoftRed;
                    margin-left:40px;
                    
                    cursor:pointer;
                    &:hover{
                        background:white;
                        border:3px solid $SoftRed;
                        color:$SoftRed;
                        
                    }
                }
            }
        }
        .last{
            background:$VeryDarkBlue;
            // background:blue;
            width: 100%;
            display: flex;
            flex-direction:row;
            align-items:center;
            height:30px;
            padding:5%;
            justify-content: flex-start;
            img[z]{
                filter:invert(1)hue-rotate(170deg)  brightness(100%) ;
            }
            ul{
                display:inline-flex;
                margin-left:20px;
                
                li{
                    list-style: none;
                    margin: 30px 10px;
                    text-align: center;
                    a{
                        text-decoration: none;
                        color:rgb(228, 241, 253);
                        cursor:pointer;
                        text-transform:uppercase;
                        
                    }
                    a:visited,a:hover,a:active{
                        color:$SoftRed;
                        
                    }
                }
            }
            .social-media{
                position:absolute;
                right:5%;
                img{
                margin:0px 10px;
                cursor:pointer;
                }
            }
        }

    }
    .attribution { 
        font-size: .7rem; 
        text-align: center;
        background:$VeryDarkBlue;
        padding-bottom: 20px;
        font-weight:lighter; 
        a { 
            color: $SoftBlue;
            font-size: .7rem;
             
        }
        a:visited,a:hover,a:active{
            color:$SoftRed;
        }
    }
     
}